{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Instructions Task 2
{% endblock %}

{% block content %}


<div class="card"><div class="card-body">
<p> In this task you have been randomly paired with another person, whom we will refer to as the other.
    This other person is someone you do not know and will remain mutually <b>anonymous</b>. All of your choices are completely <b>confidential</b>. You will be making <b>six</b>
decisions about allocating resources between you and this other person. </p>

    <p>For each of the following questions, please indicate the
distribution you prefer most by marking the respective position along the midline. You can only make one mark for each question.</p>

    <p>Your decisions will yield money for both yourself and the other person. In the example below, a person has chosen to distribute money
so that he/she receives <b>8.50&#36</b>, while the anonymous other person receives <b>5&#36</b>.</p>


<div class="mx-auto" style="width: 500px;">
<img class="col-md-12 float-sm-end mb-12 ms-md-12" style="max-width:500px" src="{% static 'Example-slider.png' %}"/>
</div>

 <div class="clearfix">
     </div>
<p>There are no right or wrong answers, this is all about personal preferences.   </p>

</div></div> <br>

    {% next_button %}

{% endblock %}


